<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>258563425752-0lkcmck38orh43q4dk26c8qauuou6574.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.258563425752-0lkcmck38orh43q4dk26c8qauuou6574</string>
	<key>API_KEY</key>
	<string>AIzaSyBZ31ngnjgj0FRpu94kGnkJr-Rkq6q1ETI</string>
	<key>GCM_SENDER_ID</key>
	<string>258563425752</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.overMoneyManager</string>
	<key>PROJECT_ID</key>
	<string>over-money-manager</string>
	<key>STORAGE_BUCKET</key>
	<string>over-money-manager.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:258563425752:ios:78f4b2b0a71d23ec841ead</string>
</dict>
</plist>